/**
 * Author: Andrew Kerr
 * Date: 4/04/2023
 */

div.screen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

div.screen.no-center {
    text-align: left;
    justify-content: flex-start;
    /* padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px; */
}

div.overlay {
    z-index: 999999;
    position: fixed;
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

div.overlay.overlay-popup {
    background-color: #2225;
    width: 100vw;
    height:100vh;
    justify-content: space-around;
    align-items: center;
}

div.frame {
    min-width: 50%;
    min-height: 50%;
    max-width: 75%;
    max-height: 75%;

    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;

    background-color: var(--frame-bg-color);

    border: 1px solid;
    border-color: var(--frame-bd-color);
    border-radius: 15px;

}

div.frame > div.header {
    flex: 0 1 auto;
    display: flex;
    border-bottom: 1px var(--frame-bd-color) solid;
    padding-left: 10px;
    padding-right: 10px;
}

div.frame > div.header > span {
    flex: 1 1 auto;
    text-align: left;
    overflow-x: hidden;
    overflow-y: auto;
}

div.frame > div.section {
    flex: 1 1 auto;
    padding-left: 15px;
    padding-right: 15px;
}

div.frame > div.footer {
    flex: 0 1 auto;
    max-height: fit-content;
    border-top: 1px var(--frame-bd-color) solid;
    padding-left: 10px;
    padding-right: 10px;
}

div.flex {
    display: flex;
}

div.flex.vertical {
    flex-direction: column;
}

div.flex > div.flex-no-stretch {
    flex: 0 1 auto;
}

div.flex > div.flex-stretch {
    flex: 1 1 auto;
}