/**
 * Author: Andrew Kerr
 * Date: 03/05/2023
 * Description: A collection of component specific stylings.
 */

div.flexbox-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

div.flexbox-grid > div {
    text-align: center;
}

div.flexbox-grid > span.break {
    flex-basis: 100%;
    width: 0;
}

div.list-grid-selector {
    float: right;
}

div.icon-group {
    z-index: 10000000;
    white-space: nowrap;
}

/* For first child we place a border curve on our left side. */
div.icon-group:not(.down) > *:first-child {
    border-radius: 5px 0px 0px 5px;
}

/* For last child we place a border curve on our right side. */
div.icon-group:not(.down) > *:last-child {
    border-radius: 0px 5px 5px 0px;
}

/* For only children we simply surround ourselves with a slight border. */
div.icon-group:not(.down) > *:only-child {
    border-radius: 5px 5px 5px 5px;
}

/**
 *  If we aren't the first, last, or only child (meaning we are a middle child) then 
 *    we need to remove our border.
 */
div.icon-group:not(.down) > *:not(:first-child):not(:last-child):not(:only-child) {
    border-radius: 0px 0px 0px 0px;
}

/* Floats all of the icons to the right hand side (by default they start at the left). */
div.icon-group.right {
    float:right;
}

/* Floats all of the icons to the right hand side (by default they start at the left). */
div.icon-group.left {
    float:left;
}

/* Allows items to begin growing downwards */
div.icon-group.down {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

/* For first child we place a border curve on our left side. */
div.icon-group.down > *:first-child {
    border-radius: 5px 5px 0px 0px;
}

/* For last child we place a border curve on our right side. */
div.icon-group.down > *:last-child {
    border-radius: 0px 0px 5px 5px;
}

/* For only children we simply surround ourselves with a slight border. */
div.icon-group.down > *:only-child {
    border-radius: 5px 5px 5px 5px;
}

/**
 *  If we aren't the first, last, or only child (meaning we are a middle child) then 
 *    we need to remove our border.
 */
div.icon-group.down > *:not(:first-child):not(:last-child):not(:only-child) {
    border-radius: 0px 0px 0px 0px;
}

div.icon-group.inline {
    display: inline-block;
}

div.icon-group.inline > * {
    border: none;
    background-color: transparent;
}

div.progressbar {
    height: var(--progressbar-height);
    background-color: var(--progressbar-fg-color);
    border: 1px var(--progressbar-bg-color) solid;
    border-radius: calc(var(--progressbar-height) / 2);
    overflow: hidden;
}

div.progressbar > div {
    height: var(--progressbar-height);
    background-color: var(--progressbar-bar-color);
    border: 1px var(--progressbar-bg-color) solid;
    border-radius: calc(var(--progressbar-height) / 2);
}