/**
 * Author: Andrew Kerr
 * Date: 03/05/2023
 * Description: A collection of component specific stylings.
 */

div.flexbox-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

div.flexbox-grid > div {
    text-align: center;
}

div.flexbox-grid > span.break {
    flex-basis: 100%;
    width: 0;
}