/**
 * Author: Andrew Kerr
 * Date: 03/05/2023
 * Description: A collection of our input tag.
 */

input {
    padding: 5px 10px 5px 10px;
    background-color: var(--input-bg-color);
    color: var(--input-fg-color);
    border: 1px solid;
    border-color: var(--input-bd-color);
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: "Lato Regular";
    /* font-size: 125%; */
}

input::placeholder {
    color: var(--input-placeholder-color);
    opacity: 1;
}

input:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: var(--input-fg-color-hover);
}

input:active {
    color: var(--input-fg-color-active);
    background-color: var(--input-bg-color-active);
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}

input.invalid {
    border-color: var(--input-bd-color-invalid);
    border-width: 2px;
}