/**
 * Author: Andrew Kerr
 * Date: 03/05/2023
 * Description: A collection of our hypertext link tags (in addition our icons are kept here).
 */

a.bi.icon-pressed:not(.disabled), a.bi:active:not(.disabled) {
    color: var(--icon-fg-color-click);
    background-color: var(--icon-bg-color-click);
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}

a.bi:hover {
    color: var(--icon-fg-color-hover);
    text-decoration: none;
}

a.bi.disabled {
    color: var(--icon-fg-color-disabled);
    text-decoration: none;
    cursor: not-allowed;
}

a.bi {
    color: var(--icon-fg-color);
    background-color: var(--icon-bg-color);
    padding: 5px;
    border: 1px transparent solid;
    font-family: "Lato Regular";
    font-size: 11pt;
}

a.flow {
    color: var(--text-color-inactive);
    cursor: not-allowed;
    font-family: "Lato Regular";
    font-size: 22pt;
}

a.flow.active {
    color: var(--text-color);
    cursor: pointer;
}

a.bi.icon-larger {
    font-size: x-large;
}

a.bi.icon-circle {
    border-radius: 50px;
}

a.bi.icon-square {
    border-radius: 5px;
}

a.bi.icon-blank {
    border:none;
    background: none;
}

a {
    color: var(--icon-fg-color);
    text-decoration: underline;
}

a.active:not(.disabled), a:active:not(.disabled) {
    color: var(--icon-fg-color-click);
}

a:hover {
    color: var(--icon-fg-color-hover);
    text-decoration: none;
}

a.disabled {
    color: var(--icon-fg-color-disabled);
    text-decoration: none;
    cursor: not-allowed;
}