/**
 * Author: Andrew Kerr
 * Date: 03/05/2023
 * Description: Our styling sheets that format our html page.
 */

/*===[ FONT/CSS IMPORTS ]=====================================================================================================*/
@import url("./fonts/SecularOne/SecularOne.css");
@import url("./fonts/Lato/Lato.css");
@import url("./components/progressbar.css");
@import url("./components/screen.css");
@import url("./components/group.css");
@import url("./components/icons.css");
@import url("./components/misc.css");
@import url("button.css");
@import url("input.css");
@import url("text.css");


/*===[ THEME DATA ]==========================================================================================================*/
* {
    /* Background Theme */
    --theme-color-background-primary: #083048;
    --theme-color-background-secondary: #022f48;
    --theme-color-background-tertiary: #164259;
    --theme-color-background-quaternary: #07263b;

    /* Foreground Theme */
    --theme-color-foreground-primary: #fefefe;
    --theme-color-foreground-secondary: #b0b0b0;

    /* Accent Color Theme */
    --theme-color-accent-normal: #fb9e05;
    --theme-color-accent-danger: #CD4631;

    /*Main Screen Color's*/
    --main-border-color: var(--theme-color-accent-normal);
    --main-bg-color: var(--theme-color-background-primary);
    --text-color: var(--theme-color-foreground-primary);
    --text-color-inactive: var(--theme-color-foreground-secondary);

    /*Frame Color's*/
    --frame-bg-color: var(--theme-color-background-primary);
    --frame-bd-color: var(--theme-color-accent-normal);
    --panel-bg-color: var(--theme-color-background-quaternary);

    /*Icon Color's*/
    --icon-bg-color: var(--theme-color-background-tertiary);
    --icon-fg-color: var(--theme-color-foreground-primary);
    --icon-bd-color: transparent;
    --icon-fg-color-hover: var(--theme-color-accent-normal);
    --icon-fg-color-disabled: var(--theme-color-foreground-secondary);
    --icon-fg-color-click: var(--theme-color-accent-normal);
    --icon-bg-color-click: var(--theme-color-background-secondary);

    /*Button Color's*/
    --button-bg-color: var(--theme-color-background-tertiary);
    --button-fg-color: var(--theme-color-foreground-primary);
    --button-bd-color: transparent;
    --button-fg-color-hover: var(--theme-color-accent-normal);
    --button-fg-color-click: var(--theme-color-accent-normal);
    --button-bg-color-click: var(--theme-color-background-quaternary);
    --button-bd-color-click: var(--theme-color-background-secondary);
    --button-fg-color-disabled: var(--theme-color-foreground-secondary);
    --button-bg-color-disabled: var(--theme-color-background-tertiary);

    /*Input Color's*/
    --input-bg-color: var(--theme-color-background-tertiary);
    --input-fg-color: var(--theme-color-foreground-primary);
    --input-bd-color: transparent;
    --input-bd-color-invalid: var(--theme-color-accent-danger);
    --input-fg-color-hover: var(--theme-color-accent-normal);
    --input-fg-color-active: var(--theme-color-accent-normal);
    --input-bg-color-active: var(--theme-color-background-secondary);
    --input-placeholder-color: var(--theme-color-foreground-secondary);

    /*Scrollbar style*/
    --scrollbar-width: 10px;
    --scrollbar-bg-color: var(--theme-color-background-secondary);
    --scrollbar-fg-color:var(--theme-color-background-tertiary);
    --scrollbar-fg-color-hover:var(--theme-color-accent-normal);

    /*Progressbar style*/
    --progressbar-height: 24px;
    --progressbar-size: 24px;
    --progressbar-bg-color: var(--theme-color-background-secondary);
    --progressbar-fg-color: var(--theme-color-background-tertiary);
    --progressbar-bar-color: var(--theme-color-accent-normal);

    /*Popup style*/
    --popup-bd-color: var(--theme-color-accent-normal);
    --popup-bg-color: var(--theme-color-background-tertiary);
    --popup-fg-color: var(--theme-color-foreground-primary);
    --popup-bd-color-invalid: var(--theme-color-accent-danger);
    --popup-bg-color-invalid: var(--theme-color-background-tertiary);
    --popup-fg-color-invalid: var(--theme-color-foreground-primary);
}

body {
    overflow: hidden;
    margin: 0;
}

/*===[ MISC STYLES ]========================================================================================================*/
#MainLayout {
    width:100vw;
    height:100vh;
    background-color: var(--main-bg-color);
    overflow: hidden;
}

/*===[ SCROLLBAR STYLES ]===================================================================================================*/
::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-bg-color); 
    border-radius: calc(var(--scrollbar-width) / 2);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-fg-color); 
    border-radius: calc(var(--scrollbar-width) / 2);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-fg-color-hover); 
}