@import url("./fonts/SecularOne/SecularOne.css");

* {
    /*Main Screen Color's*/
    --main-border-color: #FB9E05;
    --main-bg-color: #083048;
    --text-color: #FEFEFE;
    --text-color-inactive: #b0b0b0;

    /*Panel Color's*/
    --panel-bg-color: #07263B;

    /*Icon Color's*/
    --icon-bg-color: #164259;
    --icon-fg-color: #FEFEFE;
    --icon-bd-color: transparent;
    --icon-fg-color-hover: #FB9E05;
    --icon-fg-color-click: #FB9E05;
    --icon-bg-color-click: #022f48;
    
    /*Button Color's*/
    --button-bg-color: #164259;
    --button-fg-color: #FEFEFE;
    --button-bd-color: transparent;
    --button-fg-color-hover: #FB9E05;
    --button-fg-color-click: #FB9E05;
    --button-bg-color-click: #022f48;
}

h1 {
    color: var(--text-color);
    font-family: "Secular One";
    font-size: 40pt;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: var(--main-border-color);
}

h2 {
    color: var(--text-color);
    font-family: "Secular One";
    font-size: 24pt;
    text-align: center;
}

h3, h4, h5, h6 {
    color: var(--text-color);
    font-family: "Secular One";
    font-size: 24pt;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: var(--main-border-color);
    font-weight: normal;
}

p {
    color: var(--text-color);
    font-family: "Lato Regular";
    font-size: 22pt;
}

button {
    padding: 5px 10px 5px 10px;
    background-color: var(--button-bg-color);
    color: var(--button-fg-color);
    border: 1px solid;
    border-color: var(--button-bd-color);
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: "Lato Regular";
    font-size: 22pt;
}

button.block {
    margin-bottom: 10px;
    margin-top: 10px;
    display: block;
}

button:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: var(--button-fg-color-hover);
}

button.active {
    color: var(--button-fg-color-click);
    background-color: var(--button-bg-color-click);
}

button:active {
    color: var(--button-fg-color-click);
    background-color: var(--button-bg-color-click);
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
}

a.bi:active {
    color: var(--icon-fg-color-click);
    background-color: var(--icon-bg-color-click);
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
}

a.bi:hover {
    color: var(--icon-fg-color-hover);
    text-decoration: none;
}

a.bi {
    color: var(--icon-fg-color);
    background-color: var(--icon-bg-color);
    padding: 5px;
    border: 1px transparent solid;
    border-radius: 50%;
}

a.flow {
    color: var(--text-color-inactive);
    cursor: not-allowed;
    font-family: "Lato Regular";
    font-size: 44pt;
}

a.flow.active {
    color: var(--text-color);
    cursor: pointer;
}

.icon-larger {
    font-size: x-large;
}

nav {
    display: table-row;
}

nav > span {
    display: table-cell;
    width:100%;
}

#MainLayout {
    /* width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* border:1px var(--main-border-color) solid;
    border-radius: 25px; */
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: var(--main-bg-color);
    padding: 25px;
    overflow: hidden;
}

div#title {
    max-width:90%;
    max-height:30%;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}

div#problemSet {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 80%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    background-color: var(--panel-bg-color);
    border: 1px transparent;
    border-radius: 25px;
}

div#problemSet > h2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    max-height: 10%;
}

div#problemSetTable {
    position: absolute;
    top: 10%;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 25px;
    align-items: center;
    overflow-x: auto;
}

div#problemSetTable > h3 {
    margin: 0px !important;
}

div#problemSetTable > * {
    --problem-set-width: calc(100% / 5);
    flex: 1 1 var(--problem-set-width);
    /* max-width: var(--problem-set-width); */
    min-width: var(--problem-set-width);
    max-height: 50px;
    margin-bottom: 5px;
}

div#question {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 80%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    background-color: var(--panel-bg-color);
    border: 1px transparent;
    border-radius: 25px;
}