/**
 * Author: Andrew Kerr
 * Date: 03/05/2023
 * Description: Our styling sheets that format our html page.
 */

/*===[ FONT/CSS IMPORTS ]=====================================================================================================*/
@import url("./fonts/SecularOne/SecularOne.css");
@import url("./fonts/Lato/Lato.css");
@import url("components.css");
@import url("screens.css");
@import url("button.css");
@import url("input.css");
@import url("link.css");
@import url("text.css");


/*===[ THEME DATA ]==========================================================================================================*/
* {
    /*Main Screen Color's*/
    --main-border-color: #fb9e05;
    --main-bg-color: #083048;
    --text-color: #fefefe;
    --text-color-inactive: #b0b0b0;

    /*Panel Color's*/
    --panel-bg-color: #07263b;

    /*Icon Color's*/
    --icon-bg-color: #164259;
    --icon-fg-color: #fefefe;
    --icon-bd-color: transparent;
    --icon-fg-color-hover: #fb9e05;
    --icon-fg-color-disabled: #6f6f6f;
    --icon-fg-color-click: #fb9e05;
    --icon-bg-color-click: #022f48;

    /*Button Color's*/
    --button-bg-color: #164259;
    --button-fg-color: #fefefe;
    --button-bd-color: transparent;
    --button-fg-color-hover: #fb9e05;
    --button-fg-color-click: #fb9e05;
    --button-bg-color-click: #022f48;

    /*Input Color's*/
    --input-bg-color: #164259;
    --input-fg-color: #fefefe;
    --input-bd-color: transparent;
    --input-fg-color-hover: #fb9e05;
    --input-fg-color-active: #fb9e05;
    --input-bg-color-active: #022f48;
    --input-placeholder-color: #6f6f6f;

    /*Scrollbar style*/
    --scrollbar-width: 10px;
    --scrollbar-bg-color: #022f48;
    --scrollbar-fg-color:#164259;
    --scrollbar-fg-color-hover:#fb9e05;
}

body {
    overflow: hidden;
    margin: 0;
}

/*===[ MISC STYLES ]========================================================================================================*/
#MainLayout {
    width:100vw;
    height:100vh;
    background-color: var(--main-bg-color);
    overflow: hidden;
}

/*===[ SCROLLBAR STYLES ]===================================================================================================*/
::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-bg-color); 
    border-radius: calc(var(--scrollbar-width) / 2);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-fg-color); 
    border-radius: calc(var(--scrollbar-width) / 2);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-fg-color-hover); 
}