/**
 * Author: Andrew Kerr
 * Date: 03/05/2023
 * Description: A collection of screen specific stylings are kept here.
 */

/*===[ NAVBAR/MISC ]==========================================================================================================*/
div#navbar {
    position: fixed;
    right:5px;
    top:10px;
}

div.vcenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.vcenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*===[ TITLE SCREEN ]=========================================================================================================*/
div#title {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div#title > div {
    text-align: center;
}

div#title > div > hr {
    max-width: 50%;
    margin-bottom: 25px;   
}

/*===[ PROBLEM SET SCREEN ]===================================================================================================*/
div#problemSet {
    margin-top: 15vh;
    margin-bottom: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90vw;
    height: 70vh;
    overflow: hidden;
    background-color: var(--panel-bg-color);
    border: 1px transparent;
    border-radius: 25px;
}

div#problemSet > div {
    height: 90%;
    width: 100%;
    overflow: hidden;
}

/*===[ QUESTION SCREEN ]======================================================================================================*/
div#question {
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90vw;
    height: 90vh;
    overflow: hidden;
    background-color: var(--panel-bg-color);
    border: 1px transparent;
    border-radius: 25px;
}