/**
 * Author: Andrew Kerr
 * Date: 03/05/2023
 * Description: A collection of our header tags (1-6), paragraph tags as well as our header break tag.
 */

h1 {
    color: var(--text-color);
    font-family: "Secular One";
    font-size: 100pt;
    text-align: center;
    margin: 0;
}

h2 {
    color: var(--text-color);
    font-family: "Secular One";
    text-align: center;
    margin-top: 10px;
}

h3,
h4,
h5,
h6 {
    color: var(--text-color);
    font-family: "Secular One";
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: var(--main-border-color);
    font-weight: normal;
}

p {
    color: var(--text-color);
    font-family: "Lato Regular";
}

hr {
    border-color: var(--main-border-color);
    border-width: 5px;
}

p.right,
h1.right,
h2.right,
h3.right,
h4.right,
h5.right,
h6.right,
a.right {
    text-align: right;
}

p.float-right,
h1.float-right,
h2.float-right,
h3.float-right,
h4.float-right,
h5.float-right,
h6.float-right,
a.float-right {
    float: right;
}
