<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta
            http-equiv="Content-Security-Policy"
            content="default-src 'self'; script-src 'self' 'unsafe-eval'" />
        <meta
            http-equiv="X-Content-Security-Policy"
            content="default-src 'self'; script-src 'self'" />
        <title>Database</title>
        <link rel="stylesheet" href="css/database.css" />
        <link
            rel="stylesheet"
            href="../node_modules/bootstrap-icons/font/bootstrap-icons.css" />
    </head>
    <body>
        <div id="MainLayout">
            <h2>{{appName}}</h2>
            <v-icon icon="database-fill" title="Change database" @click="changeDatabase"></v-icon>
            <!-- <p v-show="selectDB.dbError != undefined">
                Database Error: {{selectDB.dbError}}
            </p> -->
            <!-- <p>
                Select DB: 
                <input type="text" list="databases" v-model="selectDB.dbName" v-on:keyup.prevent.enter="selectDatabase">
                <datalist id="databases">
                    <option v-for="db in selectDB.dbList" :value="db"></option>
                </datalist>
                <button @click="selectDatabase">Select</button>
            </p> -->
            <v-popup-screen :visible="database.selected == undefined" :closeable="false">
                <template v-slot:header>
                    Select Database
                </template>
                <template>
                    <input type="text" list="databases" v-model="database.scratch" v-on:keyup.prevent.enter="selectDatabase" placeholder="Database Name">
                    <datalist id="databases">
                        <option v-for="db in database.available" :value="db"></option>
                    </datalist>
                    <button @click="selectDatabase">Select</button>
                </template>
            </v-popup-screen>
        </div>
        <script src="./js/libraries/vue/vue-dev.js"></script>
        <script src="./js/components/popup.js"></script>
        <script src="./js/components/icon.js"></script>
        <script src="./js/database.js" defer></script>
    </body>
</html>
